#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Create the directory first
	mkdir -p debian/zfs-swap-manager/usr/sbin
	mkdir -p debian/zfs-swap-manager/usr/share/man/man8
	# Install the files
	install -m 0755 create_swap_partition.sh debian/zfs-swap-manager/usr/sbin/zfs-swap-manager
	install -m 0644 man/zfs-swap-manager.8 debian/zfs-swap-manager/usr/share/man/man8/zfs-swap-manager.8

override_dh_installman:
	dh_installman man/zfs-swap-manager.8

# Add special permissions for the binary
override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/zfs-swap-manager/usr/sbin/zfs-swap-manager 